
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>This is the Home Page of the directory.</p>
    <p>Select the Nav bar options to see Customers, Employees, and Products.</p>
</body>
</html>
