@model IEnumerable<DirectoryExample.Models.Employee>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
   
}

@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        var empDetailPostBackURl = "/Employees/Details";
        $(function () {
            $(".OpenModal").click(function () {
                debugger;
                //alert("begin");
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr("data-id");
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: empDetailPostBackURl,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $("#empModalContent").html(data);
                        $("#EmpModal").modal(options);
                        $("#EmpModal").modal("show");
                    },
                    error: function () {
                        alert("Dynamic ajax failed");
                    }
                });
            });
        });
    </script>
}

<h2>Employees</h2>
<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
</head>
<body>
    @Html.Grid(Model).Columns(columns =>
{
columns.Add().Encoded(false).Sanitized(false).Titled("Details")
    .RenderValueAs(o => new HtmlString("<a href = '#', id='OpenModal' data-id='"+o.EmployeeID+"' class='OpenModal'>View</a>"));
columns.Add(x => x.LastName).Titled("Last Name");
columns.Add(x => x.FirstName).Titled("First Name");
columns.Add(x => x.Title).Titled("Title");
columns.Add(x => x.BirthDate).Titled("DOB").Format("{0:dd/MM/yyyy}");
        columns.Add(x => x.Country).Titled("Country");
    }).WithPaging(25).Sortable(true).Filterable(true).WithMultipleFilters()
</body>

<div class="modal fade" id="EmpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="empModalContent"></div>
        </div>
    </div>
</div>
