@model IEnumerable<DirectoryExample.Models.Employee>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>
<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
</head>
<body>
    @Html.Grid(Model).Columns(columns =>
{
        columns.Add().Encoded(false).Sanitized(false).Titled("Details")
            .RenderValueAs(o => Html.ActionLink("View","Details",new { id = o.EmployeeID }, null));
        columns.Add(x => x.LastName).Titled("Last Name").Filterable(true);
        columns.Add(x => x.FirstName).Titled("First Name");
        columns.Add(x => x.Title).Titled("Title");
        columns.Add(x => x.BirthDate).Titled("DOB").Filterable(true);
        columns.Add(x => x.Country).Titled("Country").Filterable(true);
    }).WithPaging(25).Sortable(true)
</body>